[submodule "lib/esp8266-oled-ssd1306"]
	path = lib/esp8266-oled-ssd1306
	url = https://github.com/ThingPulse/esp8266-oled-ssd1306.git
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/AioP13"]
	path = lib/AioP13
	url = https://github.com/dl9sec/AioP13.git
